# Environment variables
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/
*.egg-info/

# Local data
data/

# IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
